@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root,
body,
canvas {
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: rgb(234, 255, 253);
  /* background: radial-gradient(circle, #363636 0%, #0e0e0e 75%); */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

canvas:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
}

.copy {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  pointer-events: none;
  z-index: 2000;
  text-align: center;

  @media (max-width: 600px) {
    font-size: 12px;
  }
}

.copy svg {
  width: 32px;
  fill: white;
}

.copy > * {
  padding: 32px;
  padding-bottom: 64px;
}

a {
  font-style: italic;
  color: #f5ae74;
  font-weight: bold;
  text-decoration: none;
  pointer-events: all;
}

.ui-container {
  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  left: 0;

  background: rgb(84, 108, 142);
  background: linear-gradient(
    0deg,
    rgba(84, 108, 142, 1) 0%,
    rgba(117, 142, 167, 1) 100%
  );

  color: white;
  font-family: "Lilita One", cursive;
}

.ui-container > div {
  position: relative;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30vh;
  align-items: stretch;

  padding: 100px;
  box-sizing: border-box;

  /* If mobile */
  @media (max-width: 600px) {
    align-items: center;
  }
}

.ui-container > div > h1 {
  font-size: calc(min(30vw, 140px));
  margin: 0;
}

.ui-container > div > h1:nth-child(1) {
  text-align: left;
}

.ui-container > div > h1:nth-child(2) {
  text-align: right;
}

.no-support {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  z-index: 4000;
  color: white;
}
